.quote {
  width: calc(100% - 3.5rem);
  box-shadow: 10px 3px solid hsl(0 0% 0% / 0.8);
  background-color: hsl(var(--clr-secondary) / 0.4);
  backdrop-filter: blur(8px);
  color: hsl(var(--clr-dark));

  text-align: center;
  border-radius: 1rem;
  padding: 1em;
  margin-top: 1em;

  align-items: space-between;

  &__text {
    padding: 1em 0;
    min-height: 10rem;
  }

  &__author {
    font-size: 1.6rem;
    font-family: var(--ff-secondary);
    font-weight: 500;
  }
}

.quote__edit {
  justify-content: space-between;

  .quote__delete,
  .quote__edit {
    font-size: 2.4rem;
    fill: hsl(var(--clr-dark));
    transition: transform 200ms ease;

    &:hover {
      cursor: pointer;
      fill: hsl(var(--clr-primary));
      transform: scale(1.1);
    }
  }
}
