.quotes {
  padding-bottom: 2em;
}

.quotes__title {
  text-align: center;
  margin-block-start: 5em;
  margin-block-end: 1em;
  font-family: --var(--ff-secondary);

  letter-spacing: 0.5em;
}

.quotes__container {
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}
