.loading {
  place-items: center;
  align-self: center;
  --gap: 3rem;
}

.loading__text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  animation: text 2s ease infinite;
}

.loading__icon {
  font-size: 5rem;
  animation: icon 2s ease infinite;
}

@keyframes text {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes icon {
  0% {
    transform: rotate(0deg) scale(0.7);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(0.7);
  }
}
