@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Ubuntu:wght@400;500&display=swap");

:root {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;

  --ff-primary: "Ubuntu", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;

  --clr-primary: 359 88% 66%;
  --clr-secondary: 136 100% 86%;

  --clr-dark: 0 0% 29%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  line-height: 1.6;

  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-attachment: fixed;
}

// UTILITY CLASSES
.container {
  width: calc(100% - 3.5rem);
  max-width: 160rem;
}

.flex {
  display: flex;
  --gap: 1em;
  gap: var(--gap);
}

.grid {
  display: grid;
  --gap: 1em;
  gap: var(--gap);
}

.center {
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}
